html { 
    background: url(background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
button {
    height: 50px;
    width: 200px;
}
h1 {
    font-size: 48px;
    text-align: center;
    color: white;
}
.character {
    border: 2px solid white;
    display: inline-block;
    margin: 75px 100px;    
}
#king {
    max-width: 300px;
    height: 475px;
}
#rhaenyra {
    max-width: 300px;
    height: 475px;
    position: relative;
}
#rhaenyraName {
    position: absolute;
    bottom: 0px;
    right: 50px;
}
#alicent {
    max-width: 300px;
    height: 475px;
}
#daemon {
    max-width: 300px;
    height: 475px;
}
#laena {
    max-width: 300px;
    height: 475px;
}
#laenor {
    max-width: 300px;
    height: 475px;
}
