html { 
    background: url(background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
button {
    height: 50px;
    width: 200px;
}
h1 {
    font-size: 60px;
    text-align: center;
    color: white;
}
.character {
    border: 2px solid white;
    display: inline-block;
    margin: 75px 100px;    
}
#king {
    max-width: 300px;
    height: 475px;
    position: relative;
}
#kingName {
    position: absolute;
    bottom: 0px;
    right: 50px;
    font-size: 30px;
}
#rhaenyra {
    max-width: 300px;
    height: 475px;
    position: relative;
}
#rhaenyraName {
    position: absolute;
    bottom: 0px;
    right: 50px;
    font-size: 30px;
}
#alicent {
    max-width: 300px;
    height: 475px;
    position: relative;
}
#alicentName {
    position: absolute;
    bottom: 0px;
    right: 50px;
    font-size: 30px;
}
#daemon {
    max-width: 300px;
    height: 475px;
    position: relative;
}
#daemonName {
    position: absolute;
    bottom: 0px;
    right: 50px;
    font-size: 30px;
}
#laena {
    max-width: 300px;
    height: 475px;
    position: relative;
}
#laenaName {
    position: absolute;
    bottom: 0px;
    right: 50px;
    font-size: 30px;
}
#laenor {
    max-width: 300px;
    height: 475px;
    position: relative;
}
#laenorName {
    position: absolute;
    bottom: 0px;
    right: 50px;
    font-size: 30px;

}
.bioButton {
    height: 40px;
    width: 145px;
    
}
.statusButton {
    height: 40px;
    width: 145px;
    
}

.popupContainer {
    border: 2px solid white;
    height: 650px;
    width: 650px;
    position: fixed;
    bottom: 100px;
    left: 375px;
    background-color: white;

}
#closePopup {
    background-color: rgb(147, 21, 21);
    color: rgb(218, 224, 34);
    position: relative;
    top: 63%;
    left: 40%;
    text-align: center;
    font-size: 25px;
    width: 130px;
    border: 2px solid black;
    cursor: pointer;
    padding: 8px;
}


/* .popup {
    border: 5px solid white;
    height: 750px;
    width: 750px;
    
} */